.popup__title-place {
    font-weight: 400;
    margin: 10px 0 0;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: fit-content;
    max-width: 100%;
}

.popup__title-place:hover {
    cursor: default;
}