.profile__edit {
    margin-top: 15px;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    padding: 0;
    background: #000 url(../../../images/pencil.svg) center/10px no-repeat;
}

@media screen and (max-width: 845px) {
    .profile__edit {
        margin: 8px 19px 0 0;
        width: 18px;
        height: 18px;
        background-size: 7.5px;
    }
}